.create-button {
    padding-left: 10px;
    margin-left: 10px;
    display: inline-block; /* keeps it next to the 'don't have an account?' */
}

.noacc {
    margin-top: 25px;
    display: inline-block;
}

hr {
    margin-top: 0;
}

.loginMain {
    width: 60%;
}

.form-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.form-part label {
    width: 100px;
    text-align: right;
    margin-right: 30px;
}

.login-form-input {
    flex-grow: 1;
    padding-left: 5px;
}

.form-group button {
    flex-grow: 1;
    padding-left: 5px;
}
