.login-button {
    padding-left: 10px;
    margin-left: 10px;
    display: inline-block; /* keeps it next to the 'already have an account?' */
}

.haveacc {
    margin-top: 25px;
    display: inline-block;
}

hr {
    margin-top: 0;
}

.registerMain {
    width: 60%;
}

.form-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.form-part label {
    width: 140px;
    text-align: right;
    margin-right: 10px;
}

.register-form-input {
    flex-grow: 1;
    padding-left: 5px;
}

.confirm-pw {
    display: flex;
    justify-content: space-between;
}

.confirm-pw .form-part {
    flex: 1;
}

.confirm-pw .form-part label {
    width: 140px;
    margin-right: 10px;
}