/* material icons for trash icon */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* this applies to the whole page kinda foundation
they cascade to all elements unless overridden (unline *) */
:root {
    /* track main colors here */
    --primary: rgba(60, 179, 114, 0.822);
    --accent: white;
    --links: rgb(45, 135, 85);

    /* window background and default font defined here */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, white, mediumseagreen);
}

html, body {
    background-image: linear-gradient(to right, white, mediumseagreen);
}

.body{
    max-width: 55rem; /* won't overflow on wide monitors */
    margin: 0.5em auto; /* top and bottom margin. 'auto' centers */
    border: 1px solid black; /* black border for the body */
    border-radius: 5px; /* round da corners */
    padding: 0.75rem 30px; /* border won't hug the contents */
    background-color: white; /* contrast body from background! */
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1, h2 {
    font-family: Serif;
    font-weight: bolder;
}

nav {
    border-bottom: 3px solid #333333;
    /* border-length: 50px; */
    padding: 0;
    margin-top: 15px; /* adds space between username and nav */
    text-align: right;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row; /* puts them side by side */
    list-style: none; /* removes the bullets from the unordered list */
    margin-bottom: 10px;
}

.nav-item {
    padding: 0 1.3em;
    line-height: 1;
}

nav a {
    text-decoration: none;
    color: var(--links);
}

nav a:hover {
    text-decoration: underline;
    color: darkslategray;
    text-shadow: 0px 0px 3px var(--primary);
}

.div-main {
    /* places the "filter checked items" box to the right and
    on the same level as the "Grocery List Items" h1 text */
    /* also styles footer */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    /* padding-right: 50px; */
    text-align: right; /* align the username and logout button to the right */
}

.logout-form {
    padding-left: 12px;
    display: inline-block; /* keeps it next to the username */
}

.userinfo-and-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100% */
}

.add-item-button {
    background-color: var(--primary); /* makes button background green */
    border: solid black;
    margin: 10px 0px 5px 0px; /* adds 10px space between the list item input above and 5 below itself*/
}

.groceryList {
    padding-left: 0; /* removes padding from the <ul> */
    list-style: none; /* removes the bullets from the unordered list */
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.groceryItem {
    display: block;
    width: 100%;
    outline: 1px solid; /* solid outline for each item in the list (border will overlap) */
    margin-top: 1px; /* keeps outlines from overalapping */
    box-sizing: inherit; /* calculates width and height based on parent */
    padding: .85%; /* adds space between description and outline */
    padding-right: 0%;
}

.item-done {
    display: inline-block;
    box-sizing: border-box;
}

.item-description {
    display: inline-block;
    width: calc(100% - 12em); /* sets the width to fill available space, subtracts 12em for checkbox and buttons on same line */
    box-sizing: border-box;
    margin-left: 8px;
    vertical-align: middle;
}

.item-delete {
    display: inline-block;
    box-sizing: border-box;
    color: #e62323;
}

.material-icon {
    border: none; /* remove border */
    background: none; /* background will be what's behind it */
    font-family: 'Material Icons';
    float: right; /* aligns it to the right of the body */
    padding-right: 30px;
}

.form-stuff {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.item-input {
    flex-grow: 1;
    box-sizing: border-box;
    margin-left: .5em;
    margin-right: 0;
}

footer {
    border-top: 1px solid;
    margin-top: 2em; /* adds space between border and fun fact */
}

.myInfo {
    margin-top: 0.5em;
    margin-left: .25em;
}




/* checkbox icon stuff, using material icons */
input.checkbox-icon {
    font-family: 'Material Icons';
    font-size: inherit;
    appearance: none; /* gets rid of the existing checkbox so there isnt overlap */
    cursor: pointer;
    vertical-align: middle;
}

input.checkbox-icon:before {
    content: 'check_box_outline_blank';
    color: black;
}

input.checkbox-icon:checked:before {
    content: 'check_box';
    color: rgb(127, 126, 126);
}

input.checkbox-icon:checked + span.item-description {
    text-decoration: line-through; /* line through item description when checked */
    color: black; /* color of text decoration */
}